[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    vamp_imported = True
    vamp_imported = False
    except Exception:
    vamp_imported = False
    import sox
    pass