*.pyc
**/.DS_Store
.idea/
*.DS_STORE
.mypy_cache
*.swp
*.wav
*.ipynb
nussl.egg-info/*
.vscode/
**/.ipynb_checkpoints
tests/ignored_tests/
.coverage*
docs/_build/
tests/local/
nussl/ml/train/trainer copy.py
