*.pyc
**/*DS_Store
.idea/
*DS_STORE
.mypy_cache
*.swp
*.wav
docs/examples/**/*.ipynb
docs/tutorials/**/*.ipynb
**/*.html
nussl.egg-info/*
.vscode/
**/.ipynb_checkpoints
tests/ignored_tests/
.coverage*
docs/_build/
tests/local/
scratch/
coverage.xml
dist/
build/