sphinx==2.4.4
sphinx-rtd-theme
sphinx-autoapi
m2r2
autodocsumm
jupytext
nbsphinx
pytest
pytest-cov
IPython
ffmpy
scaper
tqdm
termtables
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
gradio