include nussl/deep/config/*.json
include nussl/deep/config/defaults/*.json
include nussl/deep/config/defaults/metadata/*.json
include nussl/deep/config/defaults/models/*.json
include nussl/deep/config/defaults//models/metadata/*.json