audioread == 2.1.4
jsonpickle == 0.9.5
librosa == 0.6.0
matplotlib == 2.0.0
mir_eval == 0.4
museval == 0.2.0
musdb == 0.2.3
numpy == 1.13.0
pyyaml == 3.12
scipy == 0.19.0
six == 1.10.0
setuptools == 36.0.1
scikit-learn == 0.19.1
vamp == 1.1.0
