jams
librosa
matplotlib
museval
musdb
pyyaml
zarr==2.3.0
numcodecs==0.6.2
ffmpy
torch
pytorch-ignite
tensorboard
norbert
tqdm
termtables
gpytorch
ffmpeg-python
importlib_resources
sox
pyloudnorm
soxbindings>=1.2.2 ; platform_system!='Windows'
